inputs::-webkit-input-placeholder {
  color: #b5b5b5;
}

inputs-moz-placeholder {
  color: #b5b5b5;
}

#wrapper {
  background-color: white;
  padding: 20px;
  margin-top: 15vh;
  border: 3px solid black;
}

.result {
  width: 30%;
  margin: 30px auto auto;
}

.copyright {
  text-align:center;
  font-size:10px;
  color:#D0CECE;
  font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif
}

.button {
  background: #faee00;
  background-image: -webkit-linear-gradient(top, #faee00, #b8902b);
  background-image: -moz-linear-gradient(top, #faee00, #b8902b);
  background-image: -ms-linear-gradient(top, #faee00, #b8902b);
  background-image: -o-linear-gradient(top, #faee00, #b8902b);
  background-image: linear-gradient(to bottom, #faee00, #b8902b);
  -webkit-border-radius: 58;
  -moz-border-radius: 58;
  border-radius: 58px;
  font-family: Arial, serif;
  color: #ffffff;
  font-size: 1vw;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

#options {
  margin: auto;
  width: 30%;
}

.add-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  width: 70%;
  padding: 1vh 1vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #575656;
  text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
  background: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.inputs:focus {
  background: #DFE9EC;
  color: #414848;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: 0;
}

@media screen and (max-width: 800px) {

  #options {
    width: 40vw;
  }
}

.inputs:hover {
  background: #DFE9EC;
  color: #414848;
}

.close-button {
  float: right;
  display: inline-block;
}

.close-button:hover {
  cursor: pointer;
}

.wordwrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.selection-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection-option {
  word-wrap: break-word;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
